.table-text-color {
    color: #111;
}


.bg-BDD {
    background-color: #fff0c8;
}


.bg-ASO {
    background-color: #ddd5e9;
}

.bg-HLLD {
    background-color: #cbdde0;
}

.bg-IPO1 {
    background-color: #e8cfdb;
}

.bg-IPO2 {
    background-color: #eeeeee;
}

.bg-tutoria {
    background-color: #efcaca;
}

.bg-FM {
    background-color: #d4e8cc;
}

.bg-SX {
    background-color: #f8d9b2;
}

.bg-ISO {
    background-color: #c2d5f2;
}

.bg-marques {
    background-color: #fff0a6;
}

